a:link {
  color: rgb(1, 63, 68); /* unvisited link */
}
a:visited {
  color: rgb(1, 63, 68); /* visited link */
}
a:hover {
  color: rgb(215, 241, 245); /* mouse over link */
}

body {
  background: url(background.jpg) center / cover no-repeat;
}

.general {
  background: #b7c1c2; 
  color: rgb(1, 63, 68); 
  margin: auto;
  padding: 20px;
  width: 50%;
  line-height: 21px;
}

.avatar {
  position: absolute;
  right: 10px;
  width: 12em;
  border-radius: 50%;
}

.name {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}

.contacts {
  position: relative;
  background: #688285; 
  color: #b7c1c2; 
  padding: 10px;
  font-family: cursive, sans-serif;
}

.quote{
  font-style: italic;
}

.footer {
  padding: 10px;
  margin: 0 auto;
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 70px;
}